

//
//  BUTTON
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  VARIABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––


$btn-bg-color: $color-primary;
$btn-bg-color-hover: lighten($btn-bg-color, 7.5%);

$btn-success-bg-color: $color-success;
$btn-success-bg-color-hover: lighten($btn-success-bg-color, 7.5%);

$btn-danger-bg-color: $color-danger;
$btn-danger-bg-color-hover: lighten($btn-danger-bg-color, 7.5%);


//
//  STYLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.btn {
  background: $btn-bg-color;
  border: 0;
  border-bottom: 6px solid darken($btn-bg-color, 10%);
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  letter-spacing: .025em;
  padding: ($gutter * .5) $gutter;
  text-shadow: 0 1px 3px rgba($black, .25);
  transition: all .2s ease;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &:hover {
    background: $btn-bg-color-hover;
  }

  &:focus {
    outline: 0;
  }


  //
  //  COLORS
  //––––––––––––––––––––––––––––––––––––––––––––––––––

  &.btn--color-success {
    background: $btn-success-bg-color;
    border-bottom-color: darken($btn-success-bg-color, 10%);

    &:hover {
      background: $btn-success-bg-color-hover;
    }
  }

  &.btn--color-danger {
    background: $btn-danger-bg-color;
    border-bottom-color: darken($btn-danger-bg-color, 20%);

    &:hover {
      background: $btn-danger-bg-color-hover;
    }
  }
  
  
  //
  //  SIZES
  //––––––––––––––––––––––––––––––––––––––––––––––––––
  
  &.btn--size-large {
    border-radius: 4px;
    font-size: rem(21px);
    padding: $gutter ($gutter * 2);
  }

  &.btn--size-small {
    border-bottom-width: 4px;
    border-radius: 3px;
    font-size: rem(14px);
    padding: ($gutter * .4) ($gutter * .75);
  }
}
