

//
//  BUTTON
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  VARIABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Layout.
$btn-padding: ($gutter * .75) ($gutter);

// Colors.
$btn-bg-color: transparent;
$btn-bg-color-hover: $black;

$btn-font-color: $black;
$btn-font-color-hover: $white;

// Border.
$btn-border-width: 2px;
$btn-border-color: $black;

// Typography.
$btn-font-size: rem(18px);
$btn-font-weight: normal;
$btn-letter-spacing: .05em;


//
//  STYLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

.btn {
  background: $btn-bg-color;
  border: $btn-border-width solid $btn-border-color;
  border-radius: 0;
  color: $btn-font-color;
  cursor: pointer;
  display: inline-block;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  letter-spacing: $btn-letter-spacing;
  line-height: 1;
  padding: $btn-padding;
  text-decoration: none;
  transition: all .2s ease;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &:hover {
  }

  &:focus {
    outline: 0;
  }
}

@include respond-above(sm) {
  .btn {
    &:hover {
      background: $btn-bg-color-hover;
      color: $btn-font-color-hover;
    }
  }
}


//
//  DARK BG
//––––––––––––––––––––––––––––––––––––––––––––––––––

.-has-dark-bg {
  .btn {
    color: $white;
    border-color: $white;
  }
}
