

//
//  TYPOGRAPHY
//––––––––––––––––––––––––––––––––––––––––––––––––––


//
//  COLORS
//––––––––––––––––––––––––––––––––––––––––––––––––––

$base-font-color: $color-gray-3;


//
//  FONT FAMILIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

$base-font-family: 'Montserrat', 'helvetica', 'arial', sans-serif;
$heading-font-family: $base-font-family;


//
//  BASE
//––––––––––––––––––––––––––––––––––––––––––––––––––

html {
  font-size: $base-font-size;
}

body {
  font-family: $base-font-family;
}


//
//  HEADINGS
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  color: $base-font-color;
  line-height: 1.5;
  margin: 0;
  margin-bottom: $gutter;
}
