

//
//  COLOR
//––––––––––––––––––––––––––––––––––––––––––––––––––

$white: #fff;
$black: #000;

$color-primary: #000;

// Action colors.
$color-success: #3fbc26;
$color-danger: #bc2626;

// Grays
$gray-mixer: $color-primary;
$color-gray-f: mix(#f8f8f8, $gray-mixer, 96%);
$color-gray-e: mix(#eee, $gray-mixer, 94%);
$color-gray-d: mix(#ddd, $gray-mixer, 93%);
$color-gray-c: mix(#ccc, $gray-mixer, 92%);
$color-gray-b: mix(#bbb, $gray-mixer, 91%);
$color-gray-a: mix(#aaa, $gray-mixer, 90%);
$color-gray-9: mix(#999, $gray-mixer, 89%);
$color-gray-8: mix(#888, $gray-mixer, 88%);
$color-gray-7: mix(#777, $gray-mixer, 87%);
$color-gray-6: mix(#666, $gray-mixer, 86%);
$color-gray-5: mix(#555, $gray-mixer, 85%);
$color-gray-4: mix(#444, $gray-mixer, 85%);
$color-gray-3: mix(#333, $gray-mixer, 85%);
$color-gray-2: mix(#222, $gray-mixer, 85%);
$color-gray-1: mix(#111, $gray-mixer, 85%);
