

//
//  Z-INDEX
//––––––––––––––––––––––––––––––––––––––––––––––––––

$z-index-page-header: 0;
$z-index-site-header: 10;
$z-index-site-content: 10;
$z-index-site-footer: 10;

$z-index-header-search-input: 90;
$z-index-header-search-btn: 89;
$z-index-header-search-btn-focus: 91;

$z-index-mobile-nav-toggle: 115;
$z-index-mobile-nav: 114;
