

//
//  FOOTER BOTTOM
//––––––––––––––––––––––––––––––––––––––––––––––––––

.section--footer-bottom {
  border-top: 1px solid $color-gray-c;
  font-size: rem(14px);
}


//
//  SCROLL TO TOP
//––––––––––––––––––––––––––––––––––––––––––––––––––

.footer-bottom__scroll-to-top {
  
}


//
//  COPYRIGHT
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-above(sm) {
  .footer-bottom__copyright {
    color: #ccc;
    text-align: center;

    .footer-bottom__copyright__sep {
      display: inline-block;
      margin-left: $gutter * .25;
      margin-right: $gutter * .25;
    }

    .footer-bottom__copyright__link {
      color: #ccc;
    }
  }
}


//
//  SITE BY
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-above(sm) {
  .footer-bottom__site-by {
    color: #ccc;
    text-align: right;
  }
}
