

//
//  FOOTER BOTTOM
//––––––––––––––––––––––––––––––––––––––––––––––––––

.section--footer-bottom {
  border-top: 1px solid $color-gray-c;
  font-size: rem(14px);
}


//
//  SCROLL TO TOP
//––––––––––––––––––––––––––––––––––––––––––––––––––

.footer-bottom__scroll-to-top__link {
  color: $black;
  text-decoration: none;
}

.footer-bottom__scroll-to-top__icon {
  display: inline-block;
  margin-right: $gutter * .25;
  position: relative;
  top: -3px;
  vertical-align: top;
}

.footer-bottom__scroll-to-top__svg {
  width: 25px;
}

.footer-bottom__scroll-to-top__link-text {
  display: inline-block;
  vertical-align: top;
}

@include respond-above(sm) {
  .footer-bottom__scroll-to-top__icon {
    transition: all .4s ease-in-out;
  }

  .footer-bottom__scroll-to-top__link {
    &:hover {
      .footer-bottom__scroll-to-top__icon {
        transform: translateY(-25%);
      }
    }
  }
}


//
//  COPYRIGHT
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-above(sm) {
  .footer-bottom__copyright {
    color: #ccc;
    text-align: center;

    .footer-bottom__copyright__sep {
      display: inline-block;
      margin-left: $gutter * .25;
      margin-right: $gutter * .25;
    }

    .footer-bottom__copyright__link {
      color: #ccc;
    }
  }
}


//
//  SITE BY
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-above(sm) {
  .footer-bottom__site-by {
    color: #ccc;
    text-align: right;
  }
}
