

//
//  SITE HEADER - SEARCH
//––––––––––––––––––––––––––––––––––––––––––––––––––

.header-search {
  display: none;
  float: right;
}

@include respond-above(sm) {
  .header-search {
    display: block;
  }
}


//
//  FORM
//––––––––––––––––––––––––––––––––––––––––––––––––––

.header-search__form {
  position: relative;
}


//
//  INPUT
//––––––––––––––––––––––––––––––––––––––––––––––––––

.header-search__input {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 500px;
  color: transparent;
  cursor: pointer;
  height: 45px;
  position: relative;
  text-indent: -10000px;
  // transition: all .05s ease-in-out;
  width: 45px;
  z-index: $z-index-header-search-input;

  &:focus {
    box-shadow: 0 5px 30px rgba($black, .2);
    border: 1px solid #ddd;
    color: $black;
    cursor: text;
    outline: none;
    padding-left: $gutter;
    padding-right: $gutter * 2.25;
    text-indent: 0;
    width: 200px;
  }
}



//
//  BUTTON
//––––––––––––––––––––––––––––––––––––––––––––––––––

.header-search__btn {
  background-color: transparent;
  background-image: url('/img/icon-search.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 0;
  color: $black;
  cursor: pointer;
  display: block;
  height: 45px;
  padding: 0;
  position: absolute;
  right: 2px;
  text-indent: -10000px;
  transform: scale(.9);
  transition: all .2s ease;
  top: 0;
  width: 45px;
  z-index: $z-index-header-search-btn;

  &:focus {
    outline: 0;
  }
}

body.-search-is-open {
  .header-search__btn {
    z-index: $z-index-header-search-btn-focus;

    &:hover {
      transform: scale(1);
    }
  }
}
