

//
//  SITE HEADER
//––––––––––––––––––––––––––––––––––––––––––––––––––

@include respond-below(sm) {
  .container--site-header {
    position: static;
  }

  .site-header__top-bar__col {
    position: static;
  }
}


//
//  TOP BAR
//––––––––––––––––––––––––––––––––––––––––––––––––––

.site-header__top-bar {
  padding: ($gutter * .5) 0;
}

@include respond-above(sm) {
  .site-header__top-bar {
    padding: $gutter 0;
  }
}
