<div class="footer-bottom">
  <section class="section section--footer-bottom">
    <div class="container container--footer-bottom">
      <div class="row row--footer-bottom">
        <div class="col-sm-3 col--footer-bottom">
          <div class="footer-bottom__scroll-to-top">
            <a href="#top" data-scroll class="footer-bottom__scroll-to-top__link">
              <span class="footer-bottom__scroll-to-top__icon">
                <svg class="footer-bottom__scroll-to-top__svg" data-name="icon-arrow-up" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.07 32.63"><path d="M13.04 0a.5.5 0 0 1 .5.5v31.63a.5.5 0 0 1-.5.5.5.5 0 0 1-.5-.5V.5a.5.5 0 0 1 .5-.5z"/><path d="M13.04 0a.47.47 0 0 1 .35.15l12.53 12.53a.5.5 0 0 1 0 .71.5.5 0 0 1-.7 0L13.04 1.21.86 13.39a.51.51 0 0 1-.71 0 .5.5 0 0 1 0-.71L12.72.15a.49.49 0 0 1 .32-.15z"/></svg>
              </span>
              <span class="footer-bottom__scroll-to-top__link-text">
                Back to top
              </span>
            </a>
          </div>
        </div><!-- .col -->

        <div class="col-sm-6 col--footer-bottom">
          <div class="footer-bottom__copyright">
            <p class="footer-bottom__copyright__text">
              2018 &copy; Reading Property <span class="footer-bottom__copyright__sep">|</span> <a href="" class="footer-bottom__copyright__link">Privacy Policy</a>
            </p>
          </div>
        </div><!-- .col -->

        <div class="col-sm-3 col--footer-bottom">
          <div class="footer-bottom__site-by">
            <p>
              Website by GM
            </p>
          </div>
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </section><!-- .section -->
</div><!-- .footer-bottom -->