<div class="footer-bottom">
  <section class="section section--footer-bottom">
    <div class="container container--footer-bottom">
      <div class="row row--footer-bottom">
        <div class="col-sm-4 col--footer-bottom">
          <div class="footer-bottom__scroll-to-top">
            <div class="footer-bottom__scroll-to-top__icon">
              
            </div>
            <p class="footer-bottom__scroll-to-top__text">
              <a href="#main" class="scroll-to-top">Back to top</a>
            </p>
          </div>
        </div><!-- .col -->

        <div class="col-sm-4 col--footer-bottom">
          <div class="footer-bottom__copyright">
            <p class="footer-bottom__copyright__text">
              2018 &copy; Reading Property <span class="footer-bottom__copyright__sep">|</span> <a href="" class="footer-bottom__copyright__link">Privacy Policy</a>
            </p>
          </div>
        </div><!-- .col -->

        <div class="col-sm-4 col--footer-bottom">
          <div class="footer-bottom__site-by">
            <p>
              Website by ID
            </p>
          </div>
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </section><!-- .section -->
</div><!-- .footer-bottom -->