<header class="page-header -has-dark-bg">
  <div class="container page-header__container">
    <div class="row page-header__row">
      <div class="col-sm-10 offset-sm-1 page-header__col">
        <h1 class="page-header__title">
          Good Morning
        </h1>
        <div class="page-header__icon">
          <img src="/img/icon-yarn-white.png" class="page-header__icon__img" alt="Icon">
        </div>
        <p class="page-header__sub-title">
          Welcome to Auburn Redyard
        </p>

        <a href="#main" data-scroll class="page-header__scroll-prompt">
          <svg class="page-header__scroll-prompt__svg" data-name="icon-arrow-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.07 32.63"><path d="M13.04 32.63a.5.5 0 0 1-.5-.5V.5a.5.5 0 0 1 .5-.5.5.5 0 0 1 .5.5v31.63a.5.5 0 0 1-.5.5z"/><path d="M13.04 32.63a.52.52 0 0 1-.36-.14L.15 20a.5.5 0 0 1 0-.71.51.51 0 0 1 .71 0l12.17 12.14 12.19-12.19a.5.5 0 0 1 .7 0 .5.5 0 0 1 0 .71L13.39 32.49a.52.52 0 0 1-.35.14z"/></svg>
        </a>
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->
</header><!-- .page-header -->

<main class="main" id="main">