<nav class="site-header-nav">
  <div class="container site-header-nav__container">
    <div class="row site-header-nav__row">
      <div class="col-sm-12 site-header-nav__col">
        
        <ul class="site-header-nav__list">
          <li class="site-header-nav__list-item">
            <a href="" class="site-header-nav__link">
              Reading Cinemas
            </a>
          </li>

          <li class="site-header-nav__item">
            <a href="" class="site-header-nav__link">
              Stores & Dining
            </a>
          </li>
        </ul>

      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->
</nav><!-- .site-header-nav -->