<header class="site-header">
  <div class="container container--site-header">
    <div class="row row--site-header site-header__top-bar">
      <div class="col">
        <a href="/" class="header-logo">
          <img src="/img/logo-newmarket.png" class="header-logo__img" alt="Newmarket Village">
        </a>

        @@include('../layout/site-header-search.html')
      </div>
    </div><!-- .row -->
  </div><!-- .container -->

  @@include('../layout/site-header-nav.html')
</header><!-- .site-header -->

<main class="main">