<nav class="site-header-nav">
  <div class="site-header-nav__wrapper">
    <div class="container site-header-nav__container">
      <div class="row site-header-nav__row">
        <div class="col-sm-12 site-header-nav__col">
          
          <ul class="site-header-nav__list">
            <li class="site-header-nav__list-item">
              <a href="" class="site-header-nav__link">
                Reading Cinemas
              </a>
            </li>

            <li class="site-header-nav__list-item -has-children">
              <a href="" class="site-header-nav__link">
                Stores & Dining
              </a>
              <ul class="site-header-nav__child-list">
                <li class="site-header-nav__child-list__item">
                  <a href="" class="site-header-nav__child-list__link">
                    Women's fashion
                  </a>
                </li>

                <li class="site-header-nav__child-list__item">
                  <a href="" class="site-header-nav__child-list__link">
                    Men's Fashion
                  </a>
                </li>

                <li class="site-header-nav__child-list__item">
                  <a href="" class="site-header-nav__child-list__link">
                    Kids and Family
                  </a>
                </li>

                <li class="site-header-nav__child-list__item">
                  <a href="" class="site-header-nav__child-list__link">
                    Home and Tech
                  </a>
                </li>

                <li class="site-header-nav__child-list__item">
                  <a href="" class="site-header-nav__child-list__link">
                    Sport and Leisure
                  </a>
                </li>

                <li class="site-header-nav__child-list__item">
                  <a href="" class="site-header-nav__child-list__link">
                    Fresh Food
                  </a>
                </li>
              </ul>
            </li>

            <li class="site-header-nav__list-item -has-children">
              <a href="" class="site-header-nav__link">
                Centre Info
              </a>
              <ul class="site-header-nav__child-list">
                <li class="site-header-nav__child-list__item">
                  <a href="" class="site-header-nav__child-list__link">
                    Overview
                  </a>
                </li>

                <li class="site-header-nav__child-list__item">
                  <a href="" class="site-header-nav__child-list__link">
                    Contact
                  </a>
                </li>

                <li class="site-header-nav__child-list__item">
                  <a href="" class="site-header-nav__child-list__link">
                    Customer Service Desk
                  </a>
                </li>

                <li class="site-header-nav__child-list__item">
                  <a href="" class="site-header-nav__child-list__link">
                    Free WiFi
                  </a>
                </li>

                <li class="site-header-nav__child-list__item">
                  <a href="" class="site-header-nav__child-list__link">
                    Facilities
                  </a>
                </li>
              </ul>
            </li>

            <li class="site-header-nav__list-item -has-children">
              <a href="" class="site-header-nav__link">
                Getting There
              </a>
              <ul class="site-header-nav__child-list">
                <li class="site-header-nav__child-list__item">
                  <a href="" class="site-header-nav__child-list__link">
                    Location
                  </a>
                </li>

                <li class="site-header-nav__child-list__item">
                  <a href="" class="site-header-nav__child-list__link">
                    Centre Map
                  </a>
                </li>

                <li class="site-header-nav__child-list__item">
                  <a href="" class="site-header-nav__child-list__link">
                    Driving
                  </a>
                </li>

                <li class="site-header-nav__child-list__item">
                  <a href="" class="site-header-nav__child-list__link">
                    Public Transport
                  </a>
                </li>
              </ul>
            </li>

            <li class="site-header-nav__list-item">
              <a href="" class="site-header-nav__link">
                News & Events
              </a>
            </li>

            <li class="site-header-nav__list-item">
              <a href="" class="site-header-nav__link">
                Offers & Promotions
              </a>
            </li>

            <li class="site-header-nav__list-item">
              <a href="" class="site-header-nav__link">
                Contact Us
              </a>
            </li>
          </ul>

        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .site-header-nav__wrapper -->
</nav><!-- .site-header-nav -->

<a href="javascript:void(0);" class="site-nav-toggle" aria-controls="primary-menu" aria-expanded="false">
  <span class="site-nav-toggle__wrapper">
    <span class="site-nav-toggle__bar site-nav-toggle__bar--top"></span>
    <span class="site-nav-toggle__bar site-nav-toggle__bar--middle"></span>
    <span class="site-nav-toggle__bar site-nav-toggle__bar--bottom"></span>
  </span>
</a>